/* Add space between list items */
li {
  margin-bottom: 10px;
}

/* Add extra indentation for nested lists */
ul ul, ol ol, ul ol, ol ul {
  margin-top: 10px;
  margin-left: 20px;
}

/* Ensure the last item doesn't have extra bottom margin */
li:last-child {
  margin-bottom: 0;
}

/* Target the paragraph that contains the image */
.contents p:has(img) {
  margin-bottom: 50px !important;
}

/* Target the image itself just in case */
.contents img {
  margin-bottom: 40px !important;
  display: block;
}

/* Target the figure container if pkgdown generates it */
.contents figure, .contents .figure {
  margin-bottom: 50px !important;
  margin-top: 20px;
}

/* Target the caption specifically to push the following text down */
.contents figcaption, .contents .caption {
  margin-bottom: 40px !important;
  display: block;
}

body {
  border-top: 10px solid red !important;
}